h4 {
    text-align: center;
    margin: 5px;
    border-bottom: 1px solid black;
}
p {
    height: 80%;
}
.curso{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    min-width: 450px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #aaa;
    box-sizing: border-box;
    padding: 10px;
}

