.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.titulo{
    text-align: center;
    font-size: 1.5rem;
    color: #111;
    margin: 4em 0;
}
.content-section{
    display: flex;
    justify-content: space-evenly;
}

