.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.titulo{
    text-align: center;
    font-size: 1.5rem;
    margin: 4em 0;
}
.content-section{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
}
.content-section-curso, .content-section-alumno{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2.5rem;
}
